html {
    position:relative;
    min-height: 100%;
}

body {
    margin-bottom:60px;
    padding-top:70px;
}

.caraDaConpec{
background-image: url('/assets/img/ber.jpg');
background-repeat: no-repeat;
background-size: 100%;
}

.navbar-fixed-top {
    top:0px;
}
.navbar-inner {
    background:#2B292A;
}
.navbar .container {
    padding-top:10px;
    height:50px;
}

.dropdown {
    right:0;
    display: inline-block;
}

#btnSignUp, .btn-orange {
    background-color: #FF6700;
    border-color: #FF6700;
    background-image: linear-gradient(to bottom,#FF6700 0,#FF6700 100%);
    margin: 3px 0;
}

#btnLogin, .btn-orange, .btn-orange:focus {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FF6700;
    color: #fff;
}

.btn-default {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #FF6700;
    color: #fff;
}

.btn-orange:hover {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #EE6700;
    color: #fff;
}

.btn-gray {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #EEEEEE;
    color: #000;
}

.btn-gray:hover {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #DDDDDD;
    color: #000;
}

.navbar .brand, #navLogin {
    text-shadow:none;
    color:#fff;
}

.nav .open>a.login-custom, .nav .open>a.login-custom:focus,
.nav .open>a.login-custom:hover, #navLogin:hover, #btnLogin:hover, #btnSignUp {
    background-color: #EE6700;
    color:#fff
}

.vertical-align {
    display: flex;
    align-items: center;
}


#formLogin input {
    margin: 3px 0px;
    box-sizing: border-box;
    padding: 3px 3px;
    width: 100%;
}

#formSignUp input {
    margin: 3px 0px;
    box-sizing: border-box;
    padding: 3px 3px;
    width: 80%;
}

.form #btnSignUp {
    margin: 5px 0;
    width: 80%;
}

.dropdown-menu {
    width: 100%;
    min-width: 200px;
}

#footer{
    text-align:center;
}

#footer a{
    text-decoration: none;
}
