html {
    position:relative;
    min-height: 100%;
}

body {
    margin-bottom:60px;
    padding-top:70px;
}

.navbar-fixed-top {
    top:0px;
}
.navbar-inner {
    background:#2B292A;
}
.navbar .container {
    padding-top:10px;
    height:50px;
}

.dropdown {
  right:0;
  display: inline-block;
}

.btn:hover {
  background-color: #FF6700;
  color: #fff;
}

.navbar .brand, #navLogin{
    text-shadow:none;
    color:#fff;
}

.nav .open>a.login-custom, .nav .open>a.login-custom:focus,
.nav .open>a.login-custom:hover, #navLogin:hover {
  background-color: #FF6700;
  color:#fff
}

#footer{
    text-align:center;
}

#footer a{
    text-decoration: none;
}
