<div id="cadastro" style="width:60%;" class="container-fluid" >
    <form>
        <!-- INFORMAÇÕES -->
        <div  ng-hide="cadastro==2" ng-show="cadastro==1">
            <fieldset class="form-group row">
                <label for="nome" class="center-label col-xs-2 col-form-label">Nome:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="email" class="col-xs-2 col-form-label">Email:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="email" placeholder="Digite o email">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="senha" class="col-xs-2 col-form-label">Senha:</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="senha" placeholder="Digite a senha">
                </div>
                <label for="senha2" class="col-xs-2 col-form-label">Repetir senha:</label>
                <div class="col-xs-4">
                    <input type="password" class="form-control" id="senha2" placeholder="Repetir senha">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="cpf" class="col-xs-2 col-form-label">CPF:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="cpf" placeholder="xxx.xxx.xxx-xx">
                </div>
                <label for="rg" class="col-xs-2 col-form-label">RG:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="rg" placeholder="xx.xxx.xxx-x">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="instituicao" class="col-xs-2 col-form-label">Instituição de ensino:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="instituicao" placeholder="Digite a instituição">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="curso" class="col-xs-2 col-form-label">Curso:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="curso" placeholder="Digite o curso">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="disponibilidade" class="col-xs-2 col-form-label">Disponibilidade:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="disponibilidade" placeholder="Horas por semana">
                </div>
                <label for="graduacao" class="col-xs-2 col-form-label">Horas graduação:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="graduacao" placeholder="Horas por semana">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="estagio" class="col-xs-2 col-form-label">Horas estágio:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="estagio" placeholder="Horas por semana">
                </div>
                <label for="curriculo" class="col-xs-2 col-form-label">Currículo:</label>
                <div class="col-xs-4">
                    <input type="file" id="curriculo" class="custom-file-input">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="celular" class="col-xs-2 col-form-label">Celular:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="celular" placeholder="(xx) xxxxx-xxxx">
                </div>
                <label for="telefone" class="col-xs-2 col-form-label">Telefone:</label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="telefone" placeholder="(xx) xxxx-xxxx">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Endereço:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="observacoes" class="col-xs-2 col-form-label">Observações:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="observacoes" placeholder="Digite as observacoes">
                </div>
            </fieldset>

            <fieldset class="form-group row">
                <label for="conpec" class="col-xs-3 col-form-label">Como conheceu a conpec?</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="conpec" placeholder="Digite como conheceu a conpec" placeholder="">
                </div>
            </fieldset>

            <div class="text-center">
                <a href="#/" id="btnBack" class="btn btn-gray" role="button">Retornar</a>
                <button type="submit" ng-click="cadastro_para2()" name="submit" class="btn btn-orange">Próximo</button>
            </div>
        </div>

        <!-- SKILLS -->
        <div ng-hide="cadastro==1" ng-show="cadastro==2">

            <fieldset class="form-group row">
                <input id="java" class="col-xs-2" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0">
                <span id="javaCurrentSliderVal">Conhecimento em JAVA Nível: <span id="javaSliderVal">3</span></span>
            </fieldset>

            <fieldset class="form-group row">
                <input id="php" class="col-xs-2" type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0">
                <span id="phpCurrentSliderVal">Conhecimento em PHP Nível: <span id="phpSliderVal">3</span></span>
            </fieldset>
            <div class="text-center">
                <a id="btnBack" ng-click="cadastro_para1()" class="btn btn-gray" role="button">Retornar</a>
                <button type="submit"  name="submit" class="btn btn-orange">Próximo</button>
            </div>
        </div>
    </form>
</div>
